<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dtu.smmac.gem">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Startskaerm"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NyReg"
            android:label="@string/title_activity_ny_reg" />
        <activity android:name=".Hovedskaerm" />
        <activity android:name=".Datering"></activity>
        <activity android:name=".Skabelon"></activity>
        <activity android:name=".Beskrivelse"></activity>
    </application>

</manifest>
